@model IEnumerable<ProyectoCarreras5.Models.carrera>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcionCarrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCarrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distanciaMetros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionCarrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCarrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distanciaMetros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCarrera }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCarrera }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCarrera })
        </td>
    </tr>
}

</table>
